html {
    background: url('./stars-photo.jpeg') no-repeat;
    background-size: cover;
}

body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 137, 165, 0.356);
    margin: 0px;
    padding: 0px;
}



#title {
    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

#name {
    width: 25vw;
    border-radius: 15%;
}