html {
    background: url('./stars-photo.jpeg') no-repeat;
    background-size: cover;
    color: white;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 25px;
    padding: 25px;
}



#title {
    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 50vw;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3%;
}



#form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}
